#main {
    width: 640px;
    border: 15px solid gray;
    margin: auto;
    border-radius: 15px;
}

#topLeftNoneTask {
    float: left;
    display: inline;
    text-align: center;
    border: 0px;
    width: 61px;
    height: 62px;
    border-right: 1px solid gray;
}

#topLeftThereTask {
    float: left;
    text-align: center;
    border: 0px;
    width: 61px;
    height: 62px;
    border-right: 1px solid gray;
    background-image: url('img/selectAll.jpg');
}

#mainInput {
    width: 558px;
    height: 60px;
    font-size: 30px;
    color: gray;
    border: 0px;
    padding-left: 20px;
}

.body {
    width: 640px;
    border-top: 1px solid gray;
}

.done {
    float: left;
    text-align: center;
    border: 0px;
    width: 61px;
    height: 62px;
    background-image: url("img/done.jpg");
}

.undone {
    float: left;
    text-align: center;
    border: 0px;
    width: 61px;
    height: 62px;
    background-image: url("img/undone.jpg");
}

.message {
    display: inline-block;
    width: 516px;
    text-align: left;
    font-size: 30px;
    color: gray;
    border-left: 1px solid gray;
}

.text {
    margin: 15px;
}

.delete {
    float: right;
    display: inline-block;
    width: 62px;
    height: 62px;
    border: 0px;
}

div.body:hover .delete:hover{
    background-image: url("img/deleteSign.jpg");
}

div.body:hover .delete{
    background-image: url("img/deleteSignUp.jpg");
}



div.done + div.message div.text {
    text-decoration: line-through;
}
